.header {
    // text-align: left;
}
.navbar {
    padding: 1em 0;
}
.textStyle {
    margin: 0.8em 0 !important;
}
.btnSubmit {
    margin-top: 0.8em !important;
}
.subHeading {
    margin: 0.8em 0 !important;
}
.paperStyle {
    padding: 1em 2.6em;
    margin: 0.8em 0.5em;
}